CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# site specific
.vscode/**
!.vscode/extensions.json
!.vscode/launch.json

*.pex

[Mm]eshes/**
[Tt]extures/**
meta.ini
skyrimse.ppj
